@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  width: 480px;
  height: 480px;
  background-color: #fffbf5;
}

#root {
  display: flex;
  flex-direction: column;
}
